<label>Language filter</label>
<select  [(ngModel)]="languagef" (ngModelChange)="languageFilterChanged($event)">
    <option *ngFor="let language of languages" [value]="language">{{ language }}</option>
</select>
<label>Level filter</label>
<select  [(ngModel)]="levelf" (ngModelChange)="levelFilterChanged($event)">
    <option *ngFor="let level of levels" [value]=level>{{level}}</option>
</select>

<div>
    <div *ngIf="!noStory">
        <div class="storyCard" *ngFor="let language of stories">
            <h3>{{language[0].language}}</h3>
            <div class="story" *ngFor="let story of language">
                <button (click)="onClick(story)">{{story.title}}</button>
                <p>Level {{story.level}}
                    <br>
                    Popularity: {{story.popularity}}
                    <br>
                    Last updated: {{story.lastUpdated  | date:'medium'}}
                </p>
            </div>

        </div>
        <br>
    </div>
    <div>
        <h3 *ngIf="noStory">Looks like there are no stories for this filter.</h3>
    </div>
</div>