.storyCard {
    margin-bottom: 5%;
    text-align: center;
    border: thick double #32a1ce;
    padding: 1%;
    width: 80%;
}

.storyFilter {
    width: 20%;
    display: inline-block;
    margin: 0 auto;
    vertical-align: top
}

.storyList {
    width: 25%;
    display: inline-block;
    margin: 0 auto;
    vertical-align: top
}

ul {
    list-style-type: none;
    padding-inline-start: 0;
}
.chips{
    width:100px;
}