<div *ngIf="page">
    <div *ngIf="page.status==0">
        <div *ngIf="ownStory">

            <form #storyForm="ngForm">
                <p>You arrived at an empty page. Write!</p>
                <textarea class="story" rows="4" cols="50" id="content" name="content" ngModel required> </textarea>
                <br>
                <button [disabled]="!storyForm.form.valid" (click)="onPublish(storyForm)">Publish</button>
                <br>
            </form>
        </div>
        <div *ngIf="!ownStory">
            <p>You arrived at an empty page.</p>
        </div>
    </div>
    <div *ngIf="page.status!=0">
        <p class="story">{{page.content}}</p>

        <div *ngIf="page.status==1">

            <div *ngFor="let route of underApprovalRoutes">
                <p>{{route}}</p>
                <div *ngIf="ownStory">
                    <button (click)="onApproveRoute(route)">Approve</button>
                    <button>Decline</button>
                </div>
                <div *ngIf="!ownStory">
                    <button>Like route</button>
                    <button>Unlike route</button>
                </div>
            </div>
            <input #routeInput>
            <button (click)="onAddRoute(routeInput.value)">Add route</button>
        </div>

        <button *ngIf="page.status==2" (click)="onRouteClick()">{{routeObject.name}}</button>
        
        <div *ngIf="!ownStory">
            <button *ngIf="!voted" (click)="onLike()">Like page</button>
            <button *ngIf="voted" (click)="onUnlike()">Unlike page</button>
        </div>
    </div>
</div>